.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    height: 400px;
    width: 400px;
    background-color: #feffd2;
    border-radius: 50%;
    border: 5px solid #ff7d29;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .point {
    height: 10px;
    width: 10px;
    background-color: #ff7d29;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .second-di{
  position: absolute;
  left: 50%;
  top :50%
  }
  .minute-di{
    position: absolute;
  left: 50%;
  top :50%
  }
  .hour-di{
    position: absolute;
  left: 50%;
  top :50%
  }
  
  .hourName {
    font-weight: 600;
    color: #ff7d29;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .hour-name-1 {
    left: 70%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
  .hour-name-2 {
    left: 85%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
  .hour-name-3 {
    left: 92%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .hour-name-4 {
    left: 85%;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  .hour-name-5 {
    left: 70%;
    top: 85%;
    transform: translate(-50%, -50%);
  }
  .hour-name-6 {
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hour-name-7 {
    left: 30%;
    top: 85%;
    transform: translate(-50%, -50%);
  }
  .hour-name-8 {
    left: 15%;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  .hour-name-9 {
    left: 8%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .hour-name-10 {
    left: 15%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
  .hour-name-11 {
    left: 30%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
  .hour-name-12 {
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .second {
    height: 120px;
    width: 2px;
    background-color: #ffbf78;
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%);
  }
  .minute {
    height: 150px;
    width: 3px;
    background-color: #ff7d29;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%);
  }
  .hour {
    height: 100px;
    width: 5px;
    background-color: #ff7d29;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
  }
  